@use '../helpers/mixins' as *;

.footer {
	padding: 1em;
	margin-top: auto;
	text-align: center;
	@include desktop {
		grid-area: footer;
	}
	&__link {
		color: var(--soft-red);
		text-decoration: none;
		transition: color var(--animation-time) ease;
		&:hover {
			text-decoration: underline;
			color: var(--dark-grayish-red);
		}
	}
}
