@use '../helpers/functions' as *;
@use '../helpers/mixins' as *;

.main {
	width: em(375);
	padding-inline: 1.9em;
	text-align: center;
	@include desktop {
		grid-area: main;
		width: 100%;
		padding: 0 17em 0 10em;
		text-align: left;
	}
	&__title {
		margin-bottom: 0.35em;
		font-size: var(--font-size-title);
		font-weight: weight(light);
		line-height: 1;
		letter-spacing: em(3.5);
		text-transform: uppercase;
		&-dark {
			color: var(--dark-grayish-red);
			font-weight: weight(semiBold);
		}
	}
	&__text {
		font-size: 1.4rem;
		margin-bottom: 2.25em;
		@include desktop {
			font-size: 1.8rem;
		}
	}
	&__form,
	&__form-input,
	&__form-button {
		border-radius: em(50);
	}
	&__form {
		display: flex;
		justify-content: start;
		position: relative;
		border: 1px solid var(--desaturated-red);
		&-input,
		&-button {
			border: 0;
			outline: none;
		}
		&-input {
			flex-basis: 70%;
			padding: 1.25em 1.8em;
			background-color: transparent;
			font-family: inherit;
			appearance: none;
			@include desktop {
				flex-basis: 72.5%;
				font-size: 1.6rem;
			}
			&::placeholder {
				letter-spacing: em(0.5);
				color: var(--desaturated-red);
			}
		}
		&-error-icon,
		&-error-message {
			visibility: visible;
			opacity: 1;
			transition: opacity var(--animation-time) ease, visibility var(--animation-time) ease;
		}
		&-error-icon {
			align-self: center;
		}
		&-button {
			display: grid;
			place-content: center;
			position: absolute;
			inset: -1px -1px -1px 80%;
			@-moz-document url-prefix() {
				width: em(76.5);
				@include desktop {
					width: em(118);
				}
			}
			background-image: var(--linear-button);
			box-shadow: 0px 10px 15px var(--desaturated-red);
			cursor: pointer;
			&:hover,
			&:focus {
				background-image: var(--hover);
			}
		}
		&-error-message {
			color: var(--soft-red);
			@include desktop {
				padding: 0.5em 0 0 2.2em;
				text-align: left;
			}
		}
	}
}
